body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.displayContainer{
    padding: 10px;
    height:95vh;
    overflow: auto;
    color:black;
}
::-webkit-scrollbar {
    display: none;
}